.date{
    .sentence{
        font-weight: 600;
        .sub-sentence{
            font-size: 12.5px;
            font-weight: 500;
        }
    }
    .iran-flag{
        font-size: 20px;
    }
    .persianDate{
        font-size: 12.5px;
    }
    .date-content{
        font-weight: 600;
        float: right;
    }
    @media(max-width:992px) {
        .date-content{
            float: left;
            margin-top: 20px;
        }
    }
}