$body-bg: #181A25;
$body-color: white;

$theme-colors: (
  "primary": #262938,
  "secondary":#717278,
  "customGreen": #21DBA6,
  "customRed": #F55D6F
);

@import "../node_modules/bootstrap/scss/bootstrap";